@charset "UTF-8";
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 34em) {
    .container {
      max-width: 34rem; } }
  @media (min-width: 48em) {
    .container {
      max-width: 45rem; } }
  @media (min-width: 62em) {
    .container {
      max-width: 60rem; } }
  @media (min-width: 75em) {
    .container {
      max-width: 72.25rem; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.col-xs-1 {
  flex: 0 0 8.33333%; }

.col-xs-2 {
  flex: 0 0 16.66667%; }

.col-xs-3 {
  flex: 0 0 25%; }

.col-xs-4 {
  flex: 0 0 33.33333%; }

.col-xs-5 {
  flex: 0 0 41.66667%; }

.col-xs-6 {
  flex: 0 0 50%; }

.col-xs-7 {
  flex: 0 0 58.33333%; }

.col-xs-8 {
  flex: 0 0 66.66667%; }

.col-xs-9 {
  flex: 0 0 75%; }

.col-xs-10 {
  flex: 0 0 83.33333%; }

.col-xs-11 {
  flex: 0 0 91.66667%; }

.col-xs-12 {
  flex: 0 0 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 34em) {
  .col-sm-1 {
    flex: 0 0 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 48em) {
  .col-md-1 {
    flex: 0 0 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 62em) {
  .col-lg-1 {
    flex: 0 0 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@media (min-width: 75em) {
  .col-xl-1 {
    flex: 0 0 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%; }
  .col-xl-pull-0 {
    right: auto; }
  .col-xl-pull-1 {
    right: 8.33333%; }
  .col-xl-pull-2 {
    right: 16.66667%; }
  .col-xl-pull-3 {
    right: 25%; }
  .col-xl-pull-4 {
    right: 33.33333%; }
  .col-xl-pull-5 {
    right: 41.66667%; }
  .col-xl-pull-6 {
    right: 50%; }
  .col-xl-pull-7 {
    right: 58.33333%; }
  .col-xl-pull-8 {
    right: 66.66667%; }
  .col-xl-pull-9 {
    right: 75%; }
  .col-xl-pull-10 {
    right: 83.33333%; }
  .col-xl-pull-11 {
    right: 91.66667%; }
  .col-xl-pull-12 {
    right: 100%; }
  .col-xl-push-0 {
    left: auto; }
  .col-xl-push-1 {
    left: 8.33333%; }
  .col-xl-push-2 {
    left: 16.66667%; }
  .col-xl-push-3 {
    left: 25%; }
  .col-xl-push-4 {
    left: 33.33333%; }
  .col-xl-push-5 {
    left: 41.66667%; }
  .col-xl-push-6 {
    left: 50%; }
  .col-xl-push-7 {
    left: 58.33333%; }
  .col-xl-push-8 {
    left: 66.66667%; }
  .col-xl-push-9 {
    left: 75%; }
  .col-xl-push-10 {
    left: 83.33333%; }
  .col-xl-push-11 {
    left: 91.66667%; }
  .col-xl-push-12 {
    left: 100%; }
  .col-xl-offset-0 {
    margin-left: 0%; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; }
  .col-xl-offset-12 {
    margin-left: 100%; } }

.col-xs-first {
  order: -1; }

.col-xs-last {
  order: 1; }

@media (min-width: 34em) {
  .col-sm-first {
    order: -1; }
  .col-sm-last {
    order: 1; } }

@media (min-width: 48em) {
  .col-md-first {
    order: -1; }
  .col-md-last {
    order: 1; } }

@media (min-width: 62em) {
  .col-lg-first {
    order: -1; }
  .col-lg-last {
    order: 1; } }

@media (min-width: 75em) {
  .col-xl-first {
    order: -1; }
  .col-xl-last {
    order: 1; } }

.row-xs-top {
  align-items: flex-start; }

.row-xs-center {
  align-items: center; }

.row-xs-bottom {
  align-items: flex-end; }

@media (min-width: 34em) {
  .row-sm-top {
    align-items: flex-start; }
  .row-sm-center {
    align-items: center; }
  .row-sm-bottom {
    align-items: flex-end; } }

@media (min-width: 48em) {
  .row-md-top {
    align-items: flex-start; }
  .row-md-center {
    align-items: center; }
  .row-md-bottom {
    align-items: flex-end; } }

@media (min-width: 62em) {
  .row-lg-top {
    align-items: flex-start; }
  .row-lg-center {
    align-items: center; }
  .row-lg-bottom {
    align-items: flex-end; } }

@media (min-width: 75em) {
  .row-xl-top {
    align-items: flex-start; }
  .row-xl-center {
    align-items: center; }
  .row-xl-bottom {
    align-items: flex-end; } }

.col-xs-top {
  align-self: flex-start; }

.col-xs-center {
  align-self: center; }

.col-xs-bottom {
  align-self: flex-end; }

@media (min-width: 34em) {
  .col-sm-top {
    align-self: flex-start; }
  .col-sm-center {
    align-self: center; }
  .col-sm-bottom {
    align-self: flex-end; } }

@media (min-width: 48em) {
  .col-md-top {
    align-self: flex-start; }
  .col-md-center {
    align-self: center; }
  .col-md-bottom {
    align-self: flex-end; } }

@media (min-width: 62em) {
  .col-lg-top {
    align-self: flex-start; }
  .col-lg-center {
    align-self: center; }
  .col-lg-bottom {
    align-self: flex-end; } }

@media (min-width: 75em) {
  .col-xl-top {
    align-self: flex-start; }
  .col-xl-center {
    align-self: center; }
  .col-xl-bottom {
    align-self: flex-end; } }

html, body {
  height: 100%;
  width: 100%; }

body {
  background: #f8f8f8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c; }

body.homepage {
  background-color: #2480DD;
  overflow-x: hidden; }

.homepage #main {
  color: #fff;
  padding: 50px 0 50px 0;
  align-items: center;
  justify-content: center; }
  .homepage #main h1 {
    margin: 0;
    padding: 0;
    font-family: "Museo Sans Rounded", "museo-sans-rounded", sans-serif;
    font-weight: 700;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 24px;
    color: #d5e6f8;
    text-align: center; }
  .homepage #main #logo {
    margin: 50px 0; }
    .homepage #main #logo img {
      width: 100%;
      height: auto; }
  .homepage #main > .row {
    align-items: center;
    justify-content: center; }
  .homepage #main .slogan {
    margin: 0 8px; }

input[type='number'],
input[type='text'],
input[type='search'],
input[type='password'],
input[type='date'],
button[type='reset'],
textarea {
  background: #FFF;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: .72em .6em;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0; }

input[type='number']:focus,
input[type='text']:focus,
input[type='search']:focus,
input[type='password']:focus,
input[type='date']:focus
textarea:focus {
  background-color: #FFF;
  border-color: #4593e2;
  color: #26313B; }

button::-moz-focus-inner,
input[type='number']::-moz-focus-inner,
input[type='text']::-moz-focus-inner,
input[type='search']::-moz-focus-inner,
input[type='password']::-moz-focus-inner,
input[type='date']::-moz-focus-inner,
textarea::-moz-focus-inner {
  padding: 0 !important;
  border: none !important; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

.search-group {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  position: relative;
  padding-top: 30px; }

.search-group form {
  float: left;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap; }

.search-group input,
.search-group button {
  display: inline-block;
  margin: 0;
  height: 50px;
  line-height: 48px;
  box-shadow: none;
  border: none;
  background: #fff;
  outline: none; }

.search-group input.topbar-search {
  font-family: arial,sans-serif;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-radius: 4px 0 0 4px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding: 0 10px;
  line-height: 50px;
  border: none; }

.search-group input.topbar-search:not(:valid) ~ .close-icon:before {
  color: #fff !important; }

.search-group button.btn-search {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: top;
  border-radius: 0 4px 4px 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  min-width: 10px;
  padding: 0.5em 1em 0.7em;
  color: #2480dd; }

.search-group button.btn-search span {
  font-size: 24px; }

.search-group button.btn-search:hover {
  background: #fff;
  color: #3a8de0; }

.search-group .close-icon {
  outline: none;
  border: none;
  background: #fff;
  line-height: 1;
  padding: 0 5px; }

.search-group .close-icon:before {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 1.6em;
  content: "×";
  color: #ddd; }

.topbar {
  background: #2480DD; }
