$main-color: #2480DD;
$sub-color: #f8f8f8;

$color-grey: #d5e6f8;
$color-grey-lighter-1: #66a6e7;

$color-blue-lighter-1: #a1d1db;

$font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;;
$font-sub: "Museo Sans Rounded", "museo-sans-rounded", sans-serif;
$font-logo: "Leckerli One", sans-serif;

$logo-url: "/logo/logo.svg";
$logo-white-url: "/logo/logo-white.svg";