html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-grey;
}

body {
  background: $sub-color;
  font-family: $font-main;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
}

body.homepage {
  background-color: $main-color;
  overflow-x: hidden;
}
.responsive-img {
  width: 100%;
  height: auto;
}
.homepage #main {
  color: #fff;
  padding: 50px 0 50px 0;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0;
    padding: 0;
    font-family: $font-sub;
    font-weight: 700;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 24px;
    color: $color-grey;
    text-align: center;
  }

  #logo {
    margin: 50px 0;
    img {
      @extend .responsive-img;
    }
  }

  > .row {
    align-items: center;
    justify-content: center;
  }

  .slogan {
    margin: 0 8px;
  }

  #queries {
    margin-top: 10px;
  }
}

/* All styling of result page */
#result-page {

  #topbar {
    background: $main-color;
    position: fixed;
    top: 0;
    z-index: 10;

    #logo {
      align-self: center;
      margin-left: 0;

      img {
        @extend .responsive-img;

        @media (max-width: 34em) {
          min-height: 30px;
        }
      }
    }

    #searchbox {
      margin-left: 0;
      margin-right: 0;
    }
  }

  #content {
    margin-top: 70px;

    #result, aside#sidebar {
      @media (max-width: 34em) {
        padding: 0;
        margin: 0;
      }
    }
    #result {

    }

    aside#sidebar {

      margin: 10px 0;

      .box {
        background: #fff;
        padding: 10px 20px;
        border-radius: 3px;
        border: none;
      }
    }
  }
}

